.card {
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  cursor: pointer;
  padding: 1rem 0;
}
