.card {
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}
.card-content {
  border-radius: 0.4rem;
  background-color: #f8f8f8;
  cursor: pointer;
  padding: 1rem 0;
}
.card-content:hover {
  background-color: #f0f0f0;
}
